name:  Running Race Simulation
run-name: ${{   github.actor   }}  is running the race
on:
    push:
      branches:
          - main
jobs:
    check-bats-version:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v5
          - uses: actions/setup-node@v4
            with:
              node-version: '20'
          - run: |
                echo   "Criando imagem Docker do projeto..."
                docker build -t corrida-node .
                docker images

          - run: docker run --rm corrida-node

